.sidebar-user {
    padding: .75rem 1.5rem;
}

.sidebar-user > a {
    outline: 0;
    text-decoration: none;
}

.sidebar-user-title {
    color: $gray-200;
}

.sidebar-user-subtitle {
    color: $gray-500;
}